@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700&family=Josefin+Slab:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&display=swap');

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css");

*{ /*Pré condições para todos os elementos da pagina seguir*/
     margin: 0;
     padding: 0;
     list-style: none;
     text-decoration: none;
}

:root
{
    --font-primary: "Baloo Da 2", serif;
    --font-secundary:"Josefin Slab", serif;
    --font-action:"Mulish", serif;
}

.hamburguer/*Configuração o menu*/
{
   /* background-color: red;*/
    width: 2rem;
    height: 2rem;
    position: fixed;
    z-index: 100;
    right: 2rem;
    top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
}

.show-menu .hamburguer
{
    right: 16rem;
}

.line
{
    width: 100%;
    height: .1rem;
    background-color: white;
    box-shadow: 0.1rem 0.1rem 1px black;
    transition: transform 1s;
}

.show-menu #line1/*Configuração da linha 1 do icone do menu para a animação em x*/
{
    transform: rotate(50deg) translate(0.5rem, 0.35rem);
}

.show-menu #line2/*Configuração da linha 2 do icone do menu para a animação em x*/
{
    opacity: 0;
    visibility: hidden;
}

.show-menu #line3/*Configuração da linha 3 do icone do menu para a animação em x*/
{
   transform: rotate(-50deg) translate(0.1rem, -0.30rem);
}

.hamburguer span
{
    position: absolute;
    left: 3rem;
    height: 2rem;
    width: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6a3093;
    color:#ffffff;
    font-family: var(--font-action);
    opacity: 0;
  
}

.hamburguer span::before
{
    content: "";
    position: absolute;
    border-right: .5rem solid #6a3093;
    border-top: .5rem solid transparent;
    border-left: .5rem solid transparent;
    border-bottom: .5rem solid transparent;
    left: -1rem;

}

.show-menu .hamburguer:hover span
{
   opacity: 1;
}

header
{
    width: 100%; /*bordas laterais*/
    
    height: 100vh; /* vh deixa a imagem no tamanho da tela inicial*/
    
    overflow: hidden; /*Tira a barra de rolagem lateral*/
    
    position: relative;/*Ligação com a configuração do poscionamento do banner*/

}

.img-wrapper/*configuração da imagem de fundo da tela */
{ 
    width: 100%; /*bordas laterais(largura)*/
    
    height: 100%; /*bordas horizontais(altura)*/
    
    overflow: hidden;
   
    background-color: rgba(0,0,0,0.8)/*Função para definir a cor do background*/
}

.img-wrapper img/*configuração da imagem de fundo da tela*/
{
    width: 100%; 
    
    height: 100%;
    
    object-fit: cover;/*Não deixa a imagem ser cobrida ou exprimida*/
    
    opacity: 0.5;/*Deixa a imagem mais escura*/
    animation: zoom 25s;/*Animação de entrada*/
}

@keyframes zoom/*Configuração da animação de entrada*/
{
   0%{
     transform: scale(1.3);
   }
   100%{
    transform: scale(1);
   }
}

.banner/*Configuração da escrita inicial*/
{

    position: absolute;/**/

    left: 15%;/*Relação do elemento com a borda esquerda*/

    top: 30%;/*Relação do elemento com a borda superior*/
}

.banner h1/*configuração do h1 dentro do banner*/
{
   color: #ffffff;/*cor da fonte*/
   
   font-size: 3.5rem;/*Tamanho da fonte,rem significa que ele vai ter o mesmo tamanho de fonte do elemento pai dele*/
   
   font-family:var(--font-primary);/*Modelo da font*/
   
   font-weight: 200;/*Peso da font*/
   
   text-shadow: 0.3rem 0.4rem 2px rgba(0,0,0,4);/*sombra da font*/
   
   line-height: 3.5rem;/*Distancia das letras*/

   margin-bottom: 2rem;/*Espaço entre as linhas */
   
   opacity: 0;

   animation: moveBanner 1s 0.5s forwards;/*Animação do banner*/
}

.banner p/*configuração do paragrafro dentro do banner*/
{
     font-family: var(--font-secundary);
     color: #fff;
     font-size: 2rem;
     text-shadow: 0.2rem 0.2rem 2px rgba(0,0,0,4);
     margin-bottom: 2rem;
     opacity: 0;
     animation: moveBanner 1s 0.7s forwards;
}

.banner button/*configuração do button dentro do banner*/
{
     font-family: var(--font-action);
     color:white;/*Cor da letra*/
     text-transform: uppercase;/*Deixando todas as letras do botão maiuscula*/
     letter-spacing: .1rem;/*Espaço entre as letras*/
     background-color: purple;
     background: #6a3093; 
     background: -webkit-linear-gradient(to right, #a044ff, #6a3093); 
     background: linear-gradient(to right, #a044ff, #6a3093);
     padding: .5rem 3rem;/*Margem interna do botão*/
     border: none;
     border-radius: 5px;/*Raio da borda do botão*/
     cursor: pointer;    
     opacity: 0;
     animation: moveBanner 1s 0.9s forwards;
}

.banner button:hover/*O que acontece com o botão quando passa o mause*/
{
     opacity: 0.8;
}

@keyframes moveBanner/*Animação do banner*/
{
    0%{
        transform: translateY(10rem) rotateY(-30deg); 
    }
    100%{
        transform: translateY(0) rotateY(0);
        opacity: 1;
    }
}

.sidebar/*Configuração da barra do menu*/
{
   width: 20rem;
   height: 100vh;
   background-color: white;
   position: fixed;
   top: 0;
   right: -20rem;
   transition: all 1s;
}

.show-menu .sidebar/*Configuração da ação de abrir o menu*/
{
   right: 0;
}
.menu/*Configuração dos itens do menu*/
{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu-item/*Deixando os intes no centro do menu*/
{
    text-align: center;
    margin-bottom: .5rem;
}

.menu-link/*Configuração dos links*/
{
    font-family: var(--font-action);
    font-size: 2rem;
    color: #555;
    transition: color 1s;
}

.menu-link:hover/*Cor da animação dos links*/
{
    color: #6a3093;
}

.social-media/*Configuração dos itens de redes social*/
{
   
   position: absolute;
   bottom: 2rem;
   width: 100%;
   display: flex;
   justify-content: space-evenly;

}

.social-media i/*configuração dos icones das redes social */
{
  background-color: #6a3093;
  color:#fff;
  height: 2.5rem;
  width: 2.5rem;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.social-media i:hover/*Animação quando a passar o mause por cima dos icones*/
{
    opacity: 0.8;
}

.conhecimentos/*Configuração da classe conhecimentos*/
{
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(6, 6rem);
    row-gap: .5rem;
}

.conhecimento:nth-child(1)/*Posicionando os grid nas colunas*/
{
    grid-column: 4/7;
    grid-row: 1/3;
}

.conhecimento:nth-child(2)/*Posicionando os grid nas colunas*/
{
    grid-column: 3/6;
    grid-row: 3/5;
}

.conhecimento:nth-child(3)/*Posicionando os grid nas colunas*/
{
    grid-column: 4/7;
    grid-row: 5/-1;
}

.conhecimento:nth-child(4)/*Posicionando os grid nas colunas*/
{
    grid-column: 11/14;
    grid-row: 1/3;
}

.conhecimento:nth-child(5)/*Posicionando os grid nas colunas*/
{
    grid-column: 12/15;
    grid-row: 3/5;
}

.conhecimento:nth-child(6)/*Posicionando os grid nas colunas*/
{
    grid-column: 11/14;
    grid-row: 5/-1;
}

.sessao-conhecimentos/*Cor da sessao*/
{
    background-color: #f5f5f5;
}

.sessao-header/*Poscionamento do titulo da sessao*/
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sessao-header h1/*Configuração da font da sessao*/
{
    font-family: var(--font-primary);
    font-size: 3rem;
    color: #4b4b4b;
    border-bottom: solid 3px #6a3093;
    margin-bottom: 1.5rem;
}

.conhecimento-header/*Configurando os topicos da sessao*/
{
   display: flex;
   align-items: center;
   color: #4b4b4b;
}

.conhecimento-header i/*configuração do icone dos topicos*/
{
   font-size: 2.5rem;
}

.conhecimento-header h3/*Configuração da escrita do topico*/
{
    font-family: var(--font-secundary);
    font-size: 2rem;
    padding-left: 1rem;
}

.conhecimento-text/*Configurando o texto do topico*/
{
    font-family: var(--font-secundary);
    margin-top: 1rem;
}

.conhecimentos-img-wrapper/*Configurando a imagem do topico*/
{
    grid-column: 7/11;
    grid-row: 2/6;
    width: 100%;
}

.conhecimentos-img-wrapper img/*Configurando a imagem do topico*/
{
    object-fit: cover;
    width: 100%;
}
